<a href="https://colab.research.google.com/github/Uponika/Fault-Classification/blob/master/TCS_Digital_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = int(input())
if(n%2 == 1):
      print("Weird")
elif((n%2 == 0) and (n >= 2 ) and (n<=5)):
      print("Not Weird")
elif((n%2 == 0) and (n >= 6 ) and (n<=20)):
      print("Weird")
elif((n%2==0) and (n>20)):
      print("Not Weird")

5
Weird

In [ ]:
if n%2 =!0:
  print("Weird")
elif

In [ ]:
a = int(input())
b = int(input())
print(a+b)
print(a-b)
print(a*b)

5
3
8
2
15

In [ ]:
a,b, c = list(map(int,input().split()))
a

10 2 3

10

In [ ]:

c,d = 20,50

In [ ]:
n = int(input())
stu = {}
for i in range(n):
  names = input()
  scores = list(map(float, input().split()))
  stu[names] = scores

2
sumit
10 20 30
upo
100 100 100

In [ ]:
stu

{'sumit': [10.0, 20.0, 30.0], 'upo': [100.0, 100.0, 100.0]}

In [ ]:
query = input()
scores = stu[query]
avg = round(sum(scores)/len(scores))
print("{:.2f}".format(avg))

upo
100.00

In [ ]:
lst = [1,2,3,4,5,6,78]
print(lst[4:2:-1])

[5, 4]

In [ ]:
if __name__ == '__main__':
    n = int(input())

10

In [ ]:
if __name__== '__main__':
  n = int(input())
  for i in range(1, n+1):
    print(i, end = '')

5
12345

In [ ]:
if __name__ == '__main__':
    n = int(input())
    a = []
    arr = list(map(int, input().strip().split()))

    print(a)

5
2
[]

In [ ]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())

2
3

In [ ]:
x = [int(x) for x in input("Enter multiple value: ").split()]
print("Number of list is: ", x)

Enter multiple value: 1 2 3 4 5
Number of list is:  [1, 2, 3, 4, 5]

In [ ]:
if __name__ == '__main__':
  n = int(input())
  l = list(map(int, input().split()))

5
1 2 2 8 9 10 12 8

In [ ]:
print(list(l))

[1, 2, 2, 8, 9, 10, 12, 8]

In [ ]:
new_list = set(l)
new_list.remove(max(new_list))
print(max(new_list))

10

In [ ]:
  l = l[0:n]
  l = set(l)
  l = l.max(l)
  print(l)

AttributeError: ignored

In [ ]:
# Python program to find second largest
# number in a list

# list of numbers
list1 = [10, 20, 4, 45, 99]

# new_list is a set of list1
new_list = set(list1)

# removing the largest element from temp list
new_list.remove(max(new_list))

# elements in original list are not changed
# print(list1)

print(max(new_list))

45

In [ ]:
l = list(map(int, input().split()))
print(l[0:5])

1 2 3 4 5 6 7 8 9 1 011 12
[1, 2, 3, 4, 5]

In [ ]:
n = int(input())
ar = []
for i in range(n):
  ar.append(list(map(int,input().split())))
print(ar)

3
1 2 3
4 5 6
7 8 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
left = 0
right = 0
diff = 0
for i in range(0,n):
  for j in range(0,n):
    if(i == j):
      left += ar[i][j]
    if(i+j == n-1):
      right += ar[i][j]
diff = abs(left-right)
print(diff)
print(left)
print(right)

0
15
15

In [ ]:
n = int(input())
l = list(map(int, input().split()))

6
-4 3 -9 0 4 1

In [ ]:
np = 0
nn = 0
nz = 0
for i in range(0,n):
  if(l[i]>0):
    np = np + 1
  elif(l[i]<0):
    nn = nn +1
  else:
    nz = nz+1
print("{:.6f}".format(np/n))
print("{:.6f}".format(nn/n))
print("{:.6f}".format(nz/n))

0.500000
0.333333
0.166667

In [ ]:
n = int(input())
for i in range(1, n+1):
  print(' '*(n-i) + '#'*i)

4
   #
  ##
 ###
####

In [ ]:
n = int(input())
l = list(map(int, input().split()))

5
1 5 8 2 5

In [ ]:
l.sort()
print(l)

[1, 2, 5, 5, 8]

In [ ]:
l.sort()
min =0
max = 0
l2 = l[0:(n-1)]
l3 = l[n-(n-1)::]
for i in range(len(l2)):
  min += l2[i]
for j in range(len(l3)):
  max += l3[j]
print(min," ",max)

[1, 2, 5, 5]   [2, 5, 5, 8]
13   20

In [ ]:
st = list(map(str, input().split()))

sumit 10.0

In [ ]:
print(st)

['sumit', '10.0']

In [ ]:
val = st[1]

In [ ]:
print(val)

10.0

In [ ]:
val = float(val)

In [ ]:
n=int(input())
for i in range(n):
  m = [[input().split(), float(input())]]

2
sumit 10.0
upo 15.0

ValueError: ignored

In [ ]:
def is_prime(n):
  flag = 0
  for i in range(2, int(n/2)):
    if(n%i == 0):
      flag = flag + 1
    
  if(flag == 0):
      print(n,"is a prime number")
  else:
      print(n,"is not a prime number")

n = int(input())
if(n > 0):
  is_prime(n)
else:
  print("Please print a positive number")

89
89 is a prime number

In [ ]:
num = int(input())

a=0

b=0

for i in range(1,num+1):

    if(i%2!=0):

        a= a+7

    else:

        b = b+6

if(num%2!=0):

    print(' {} term of series is {}'.format(num,a-7))

else:

    print('{} term of series is {}'.format(num,b-6))

15
 15 term of series is 49

**Strings**

In [ ]:
s = "Hello World"
s = s.swapcase()

In [ ]:
print(s)

hELLO wORLD

In [ ]:
s = "this is a string"
s = s.split(' ')
s = '-'.join(s)
print(s)

this-is-a-string

In [ ]:
n = input()
val = int(input())
ch = input()
 
l = list(n)
l[val]= ch
string = ''.join(l)

abcdefg
4
k

In [ ]:
print(string)

abcdkfg

In [ ]:
n1 = input()
n2 = input()

abvfgcvfguio
vfg
2

In [ ]:
c = 0
for i in range(0, len(n1)):
  if(n1[i:].startswith(n2)):
    c = c+1
print(c)

2

[<list_iterator object at 0x7fc9180a2470>, <list_iterator object at 0x7fc9180a2d30>, <list_iterator object at 0x7fc91a58f2e8>]

Sample check

In [ ]:
import pandas as pd
import os

In [ ]:
working_directory = '/content/sample_data/'

In [ ]:
current = os.path.abspath(working_directory)

In [ ]:
print(working_directory)

/content/sample_data/

In [ ]:
files = os.listdir(working_directory)

In [ ]:
print(files)

['anscombe.json', 'README.md', 'mnist_train_small.csv', 'california_housing_train.csv', 'california_housing_test.csv', 'mnist_test.csv']

In [ ]:
s = 'ABCDEFGHIJKLMNOPQ'
d = []
for i in range(0,len(s),4):
  d.append(s[i:i+4])
print('\n'.join(map(str, d)))

ABCD
EFGH
IJKL
MNOP
Q

In [ ]:
n = 17
results = []
for i in range(0,n):
  d = i
  o = (oct(i)[2:])
  h = ((hex(i)[2:]).upper())
  b = (bin(i)[2:])
  results.append([d,o,h,b]) 

print(results)

[[0, '0', '0', '0'], [1, '1', '1', '1'], [2, '2', '2', '10'], [3, '3', '3', '11'], [4, '4', '4', '100'], [5, '5', '5', '101'], [6, '6', '6', '110'], [7, '7', '7', '111'], [8, '10', '8', '1000'], [9, '11', '9', '1001'], [10, '12', 'A', '1010'], [11, '13', 'B', '1011'], [12, '14', 'C', '1100'], [13, '15', 'D', '1101'], [14, '16', 'E', '1110'], [15, '17', 'F', '1111'], [16, '20', '10', '10000']]

In [ ]:
s = '123nkl hkkhi'
s = s.split()
print(s)
new = []
for i in range(0, len(s)):
  new.append(s[i].capitalize())
print(' '.join(new))

['123nkl', 'hkkhi']
123nkl Hkkhi

In [ ]:
s = '12abc vbyv'
print(s.title())

12Abc Vbyv

In [ ]:
s = '123nkl hkkhi'
s = s.split(' ')
print(s)

['123nkl', 'hkkhi']

In [ ]:
m = {1,5,7,9}
n = {5,8,2,10}

In [ ]:
z = m.symmetric_difference(n)
print(z)
z = sorted(z)
print(z)

{1, 2, 7, 8, 9, 10}
[1, 2, 7, 8, 9, 10]

In [ ]:
z = list(z)
z = z.sort()
for i in range(0, len(z)):
  print(z[i])

In [ ]:
m = int(input())
set1 = list(map(int,input().split()))
n = int(input())
set2 = list(map(int,input().split()))

4
2 8 9 4
4
10 8 1 0

In [ ]:
n = int(input())
s = 
for i in range(0,n):
  s.append({input().split()})

2

AttributeError: ignored

In [ ]:
n = int(input())
country = []
for i in range(0, n):
  stamp = input()
  country.append(stamp)

print(country)

2
india
india
['india', 'india']

In [ ]:
new = set(country)
print(new)

{'india'}

In [ ]:
n1 = 2
n2 = 3
t = (n1, n2)
print(hash(t))

3713082714463740756

In [ ]:
 integer_list = map(int, input().split())

2 6

In [ ]:
integer_list = tuple(integer_list)
print(type(integer_list))

<class 'tuple'>

In [ ]:
from itertools import  product
a = [1, 2]
b = [3, 4]

In [ ]:
l = list(product(a,b))
for i in range(0, len(l)):
  print(l[i], end = ' ')

(1, 3) (1, 4) (2, 3) (2, 4)

In [ ]:
A = list(map(int, input()))
B = list(map(int, input()))

1,2

ValueError: ignored

In [ ]:
def average(array):
    # your code goes here
    heights = set(array)
    sample = len(heights)   
    return(sum(heights)/sample)

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

5
62 14 10 58 14
36.0

In [ ]:
d = {}

In [ ]:
type(d)

dict

In [ ]:
dic =dict()

In [ ]:
type(dic)

dict

In [ ]:
dic = {
    'hello': 5,
    'bye': 10,
    'hi': 4,
     'see-you': 8
}

In [ ]:
print(dic)

{'hello': 5, 'bye': 10, 'hi': 4, 'see-you': 8}

In [ ]:
l1 = ['upo', 'ritu', 'rimi', 'sayak', 'sam']

In [ ]:
l2 = [50, 48, 53, 78, 40]

In [ ]:
dic = dict(zip(l1,l2))

In [ ]:
print(dic)

{'upo': 50, 'ritu': 48, 'rimi': 53, 'sayak': 78, 'sam': 40}

In [ ]:
dic.items()

dict_items([('upo', 50), ('ritu', 48), ('rimi', 53), ('sayak', 78), ('sam', 40)])

In [ ]:
for key, val in dic.items():
  print(key, " : ", val)

upo  :  50
ritu  :  48
rimi  :  53
sayak  :  78
sam  :  40

In [ ]:
n = int(input('enter the number: '))

a= 1

b= 1

for i in range(1, n+1):

    if(i%2!=0):

       

        a = a*2

    else:      

        b = b*3

if(n%2!=0):

    print('\n{} term of series is {}\t'.format(n,a/2))

else:

    print('\n{} term of series is {}\t'.format(n,a/2))

enter the number: 7

7 term of series is 8.0

In [ ]:
n = int(input(()))

15

In [ ]:
if(n%2 == 0):
  diff = n - (n/2 - 1)
  val = n - diff
  print(int(val))
else:
  print(int(n-1))

14

In [ ]:
n = int(input())
words = []
for i in range(0, n):
  words.append(input())

3
yes
no
maybe

In [ ]:
s1 = words[0]
s2 = words[1]
s3 = words[2]
vowels = 'AEIOUaeiou'
for ele in vowels: 
        s1 = s1.replace(ele, '%') 

if ele not in vowels:
        s2 = s2.replace(ele, '#')
s3 = s3.upper()
print(s1+s2+s3)

y%snoMAYBEE

In [ ]:
words[2][1]

'a'

In [ ]:
for i in words[0]:
  print('%')

%

In [ ]:
s1 = words[0]
s2 = words[1]
s3 = words[2]
s = ''
vowels = 'AEIOUaeiou'
for ele in s1: 
        if(ele in vowels):
          s = s+ '%'
        else:
          s = s + ele
for ele in s2: 
        if(ele not in vowels):
          s = s+ '#'
        else:
          s = s + ele
s3 = s3.upper()
s = s+s3
print(s)

y%s#oMAYBE

In [ ]:
s1 = words[0]
s2 = words[1]
s3 = words[2]
s = ''
vowels = 'AEIOUaeiou'
for ele in s1: 
        if(ele in vowels):
          s = '%' + s
        else:
          s = ele + s
print(s)

s%y

In [ ]:
n1 = int(input())
n2 = float(input())

10
20.39

In [ ]:
print(float(n1)+n2)

30.39

In [ ]:

num = str(input())
print(int(num,17))

23 GF

ValueError: ignored

In [ ]:
n = input()

4567

In [ ]:
even = 0
odd = 0
for i in range(0, len(n)):
  if(i % 2 == 0):
    even = even + int(n[i])
  else:
    odd = odd + int(n[i])

print(abs(even - odd))

2

In [ ]:
keywords = ["break", "case", "continue", "default", "defer", "else","for", 
    "func", "goto", "if", "map", "range", "return", "struct", "type", "var"
]

In [ ]:
string = input()

map

In [ ]:
if string in keywords:
  print("Yes")
else:
  print("No")

Yes

In [ ]:
n = int(input())

5

In [ ]:
if (n%2 == 0):
  p = (n - int(n/2)) - 1
  val = pow(3, p)
  print(val)

else:
  p = int(n/2)
  val = pow(2, p)
  print(val)

4

In [ ]:
n1 = int(input())
n2 = int(input())

0
50

In [ ]:
def find_hcf(n1,n2):
  hcf = 0
  if(n1>n2):
    small = n2
  else:
    small = n1
  for i in range(1, small + 1):
    if(n1%i == 0  and n2 % i == 0):
         hcf = i
         
  return hcf

gcd = find_hcf(n1,n2)
print("GCD: ", gcd)

GCD:  0

In [ ]:
if gcd == 0:
  lcm = n1 * n2
else:
  lcm = (n1 * n2)/gcd
print(int(lcm))

0

In [ ]:
# Python program to find H.C.F of two numbers

# define a function
def compute_hcf(x, y):

# choose the smaller number
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i 
    return hcf

num1 = 54 
num2 = 24

print("The H.C.F. is", compute_hcf(num1, num2))

The H.C.F. is 6